<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.illusionmller_lyer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".AfficherResultats"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullScreenTheme"/>
        <activity
            android:name=".Experience_Exercice"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".Consigne_Exercice"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".Experience_Entrainement"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".Consigne_Entrainement"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".Options"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".Menu_Principal"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>